/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-img: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --font-family: 'IBM Plex mono';
  --accent-color: #FF0070;
  --hover-border-color: #FF007066;
  --text-color: #F1B2CE;
  --cover-color: #DB00FF;
  --menu-color: #FF0070;
  --title-color: #FF0070;
  --subtitle-color: #000028;
  --main-offset: 10px;
  --cover-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}